@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

h1{
  padding: 10px;
  margin-left: 40px;
  width: fit-content;
}

