.hero-right {
  width: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 0;
  position: relative;
  overflow: hidden;
}

.hero-right img {
  width: 600px;
  height: 650px;
  max-width: 550px;
  object-fit: cover;
  display: block;
  border-radius: 12px;
}